.footer__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
  width: 318px;
}

@media screen and (max-width: 480px) {
  .footer__title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 282px;
    line-height: 17px;
    margin-left: 19px;
    margin-top: 48px;
    margin-bottom: 36px;
    color: #545454;
  }
}
