.footer__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(84, 84, 84, 1);
  margin-top: 67px;
  margin-bottom: 60px;
  max-width: 318px;
  max-height: 18px;
}
