.profile {
  font-family: "Inter", Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
}
.profile__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 9px auto;
  grid-template-areas:
    "title button"
    "description description";

  grid-gap: 9px 17px;
}
.profile__edit-button {
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  background: transparent url(../images/pencil.svg.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  align-self: center;
  border: 1px solid #ffffff;
}
.profile__add-button {
  box-sizing: border-box;
  background: transparent url(../images/plus.svg.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.profile__title {
  font-family: Inter;
  grid-row: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}
.profile__description {
  grid-row: 3;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}
.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
